.image-input-wrapper {
	margin-bottom: 20px;
	border: 1px solid var(--text-muted);
	color: var(--text-muted);

	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.round-image {
	border-radius: 50%;
}

.image-input-wrapper input {
	display: none;
}

.image-input-wrapper label {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Mada';
	font-size: 20px;
}

.image-input-wrapper label:hover {
	cursor: pointer;
	opacity: 0.5;
}

.image-input-wrapper label span {
	margin-top: 15px;

	font-family: 'Mada';
	font-size: 22px;
	color: var(--text-primary);
	font-weight: bold;
}

.preview-wrapper {
	margin-bottom: 20px;
	border: 1px solid var(--text-muted);
}

.preview-wrapper img {
	object-fit: contain;
}

.preview-wrapper .round-image {
	border-radius: 50%;
}

.round-image img {
	border-radius: 50%;
}

.hidden {
	display: none;
}

.image-change-button {
	display: none;
	position: absolute;
	background-color: var(--background-surface);
	transform: translateY(-105%);
	opacity: 80%;
	outline: none;
	border: none;

	justify-content: center;
	align-items: center;
	font-family: 'Mada';
	font-size: 20px;
	color: var(--text-muted);
	font-weight: bold;
}

.round-image .image-change-button {
	border-radius: 50%;
}

.preview-wrapper:hover .image-change-button {
	display: flex;
	cursor: pointer;
}
