.profile-post {
	width: calc((100% - 24px) / 3);
	aspect-ratio: 1;
}

.profile-post img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 599px) {
	.profile-post {
		width: calc((100% - 4px) / 3);
	}
}
