.header-wrapper {
	width: 100%;
	height: 54px;
	position: fixed;
	padding: 0 40px;
	box-sizing: border-box;

	display: flex;
	justify-content: center;

	background-color: var(--background-surface);
	border-bottom: 1px solid var(--border-divider);
}

.header {
	max-width: 1920px;
	width: 100%;
	min-width: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--background-surface);
}

.logo-search-container {
	min-width: 0;

	display: flex;
	align-items: center;
}

.logo-search-container > a {
	flex-shrink: 0;
}

.search-component-wrapper {
	min-width: 0;
	margin-left: 20px;
	margin-right: 20px;
}

.navbar-logged-user-container {
	height: 100%;
	flex-shrink: 0;

	display: flex;
	align-items: center;
}

.navigation-links {
	display: flex;
	gap: 34px;
}

@media (min-width: 600px) and (max-width: 1279px) {
	.navigation-links {
		gap: 22px;
	}

	.header-wrapper {
		padding: 0 24px;
	}
}

.navigation-links a {
	text-decoration: none;
}

.navigation-item-icon {
	position: relative;
	height: 48px;

	padding: 2px 0;
	border-bottom: 2px solid transparent;

	color: var(--text-primary);
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navigation-item-icon::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	width: 44px;
	transform: translateX(-50%);
}

.navigation-item-icon svg {
	width: 30px;
	height: 30px;
}

.navigation-item-icon:hover {
	opacity: 0.6;
}

.navigation-item-text {
	position: relative;
	height: 48px;

	padding: 2px 0;
	border-bottom: 2px solid transparent;

	font-family: 'Mada';
	color: var(--text-primary);
	font-weight: bold;
	font-size: 18px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navigation-item-text::after {
	content: '';
	position: absolute;
	top: 0;
	right: -10px;
	bottom: 0;
	left: -10px;
}

.navigation-item-text:hover {
	opacity: 0.6;
}

.navigation-item-active {
	border-bottom: 2px solid var(--brand-red);
	color: var(--brand-red);
}

.navigation-item-active svg {
	stroke: var(--brand-red);
}

.navigation-item-active:hover {
	opacity: 1;
}

.account-menu-anchor {
	position: relative;
	height: 100%;
	margin-left: 34px;

	display: flex;
	align-items: center;
}

.logged-user-avatar {
	display: flex;
	align-items: center;
	gap: 10px;

	padding: 0;
	border: none;
	background-color: transparent;
	text-decoration: none;
}

.logged-user-avatar:hover {
	cursor: pointer;
}

.logged-user-avatar svg {
	width: 12px;
	height: 12px;
	color: var(--text-primary);
}

.logged-user-avatar .profile-picture {
	width: 36px;
	height: 36px;
	box-sizing: border-box;
	border: 0.5px solid var(--border-divider);
}

.logged-user-avatar span {
	font-family: 'Mada';
	color: var(--text-primary);
	font-weight: bold;
	font-size: 15px;
}

@media (max-width: 599px) {
	.header-wrapper {
		display: none;
	}
}
