.post-wrapper {
	border: 2px solid var(--border-divider);
	margin-bottom: 60px;
	background-color: var(--background-surface);
}

.account-details {
	display: flex;
	align-items: center;
	padding: 16px 0 16px 16px;
}

.account-details img {
	width: 40px;
	height: 40px;
	border: 0.5px solid var(--border-divider);
	border-radius: 50%;
}

.account-details span {
	margin-left: 16px;

	font-family: 'Mada';
	color: var(--text-primary);
	font-size: 18px;
	font-weight: bold;
}

.post-image-wrapper img {
	width: 500px;
	height: 550px;
	/* It is object cover for testing. When done change it to object-fit: contain */
	object-fit: cover;
}

.post-caption {
	padding: 8px 0;
	margin-left: 16px;
	margin-right: 16px;

	color: var(--text-primary);
	font-family: 'Mada';
	font-size: 16px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.post-caption-username {
	font-weight: bold;
	margin-right: 6px;
}

.like-action-wrapper {
	padding: 8px 0 8px 0px;

	display: flex;
	align-items: center;

	border-bottom: 1px solid var(--border-divider);
	margin-left: 16px;
	margin-right: 16px;
}

.like-action-wrapper span {
	margin-left: 16px;

	color: var(--text-primary);
	font-weight: bold;
	font-family: 'Mada';
	font-size: 18px;
}

.like-btn {
	border: none;
	background-color: inherit;
	padding: 0;
}

@keyframes heartPulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

.heart-pulse {
	animation: heartPulse 0.3s ease-in-out;
}

.like-btn svg {
	width: 30px;
	height: 30px;
}

.like-btn svg:hover {
	cursor: pointer;
	opacity: 0.5;
}

.comments-section {
	padding: 8px 0 8px 0;
	margin-left: 16px;
	margin-right: 16px;

	border-bottom: 1px solid var(--border-divider);
}

.comments-section-toggle-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.comments-section-toggle-wrapper:hover {
	cursor: pointer;
}

.toggle-comments-btn {
	border: none;
	background-color: inherit;
	padding: 0;
}

.toggle-comments-btn:hover {
	cursor: pointer;
}

.toggle-comments-btn svg {
	width: 30px;
	height: 30px;
}

.comments-count-section {
	display: flex;
	align-items: center;
}

.comments-count-section svg {
	width: 30px;
	height: 30px;
}

.comments-count-section span {
	margin-left: 16px;

	color: var(--text-primary);
	font-weight: bold;
	font-family: 'Mada';
	font-size: 18px;
}

.add-comment-textarea-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 16px;
}

.add-comment-input {
	padding: 18px 0 8px 0;
	width: 100%;

	border: none;
	resize: none;
	outline: none;
	background-color: transparent;
	border-bottom: 1px solid var(--border-divider);

	color: var(--text-primary);
	font-family: 'Mada';
	font-size: 16px;
}

.comments-wrapper {
	max-height: 600px;
	/* width: 1000px; */
	overflow-y: scroll;
	margin-bottom: 30px;
}

.comments-wrapper > *:not(:last-child) {
	margin-bottom: 30px;
}
