.edit-user-profile-form {
	width: 526px;
	padding: 0 60px 40px;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: 'Mada';
}

.profile-form-profile-picture-wrapper {
	margin-top: 21px;
}

.profile-form-profile-picture-wrapper .image-input-wrapper,
.profile-form-profile-picture-wrapper .preview-wrapper {
	width: 122px;
	height: 122px;
	margin-bottom: 0;
	box-sizing: border-box;
}

.profile-form-input-wrapper {
	width: 100%;
	margin-top: 46px;
}

.profile-form-profile-picture-wrapper + .profile-form-input-wrapper {
	margin-top: 28px;
}

.edit-user-profile-form .profile-form-input-wrapper textarea {
	height: 88px;
	padding: 11px 12px;
	display: block;
	resize: none;
}

.profile-form-button-row {
	margin-top: 40px;

	display: flex;
	gap: 50px;
}

@media (max-width: 599px) {
	.edit-user-profile-form {
		width: 100%;
		height: calc(100% - 54px);
		padding: 0 16px 32px;
	}

	.profile-form-profile-picture-wrapper {
		margin-top: 32px;
	}

	.profile-form-input-wrapper {
		margin-top: 20px;
	}

	.profile-form-profile-picture-wrapper + .profile-form-input-wrapper {
		margin-top: 20px;
	}

	.profile-form-button-row {
		width: 100%;
		margin-top: auto;

		gap: 12px;
	}

	.profile-form-button-row button {
		flex: 1 1 0;
		min-width: 0;
	}
}
